{% extends 'base.html' %}
{% load static %}
{% load fullurl %}
{% load widget_tweaks %}

{% block extra_stylesheet %}


{% endblock extra_stylesheet %}



{% block content %}
<div class="tj-wrapper">
   <div class="container" style="margin-bottom: 50px;">
      <!-- <div class="row"> -->
      <form method="post" class="reset-window reg-frm">
         <div class="booking-summary" style="text-align: center;">
            <h3 ><i class="fas fa-exchange-alt"></i>
               Reset Password
            </h3>
            <div class="col-sm-10" style="margin: auto;float: initial;">
               <br>
               <br>
               {% csrf_token %}
               <div class="field-holder">
                  <span class="fas fa-mobile"></span>
                  {% render_field form.mobile placeholder="Enter Registered Mobile Number" pattern="[5-9]{1}[0-9]{9}" required='' %}
                  {{ form.non_field_errors }}
                  {#                        <input type="text" name="phone_num" placeholder="Enter Registered Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>#}
               </div>
               <button type="submit" id="button1" style="margin-top: 20px;" class="reg-btn">Reset <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
            </div>
         </div>
      </form>
      <!-- </div> -->
   </div>
</div>


{% endblock content %}





{% block extra_scripts %}



{% endblock extra_scripts %}

