{% extends 'admin_base.html' %}
{% load static %}
{% load template_tag %}

{% block extra_stylesheet %}

{% endblock extra_stylesheet %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<style>
    body{
        font-family: 'Poppins', sans-serif;
    }
    
</style>


{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Car Type Attributes
                                <a href="{% url 'customadmin:update_car_attribute_values' %}">
                                    <button type="button" style="float: right;" class="btn btn-success waves-effect waves-light mb-2">
                                        <i class="bx bx-add-to-queue font-size-16 align-middle"></i> Update Values
                                    </button>
                                </a>
                                <a href="{% url 'customadmin:update_car_attributes' %}">
                                    <button type="button" style="float: right; padding-right: 10px;margin-right: 10px;" class="btn btn-warning waves-effect waves-light mb-2">
                                        <i class="bx bx-add-to-queue font-size-16 align-middle"></i> Update Attributes
                                    </button>
                                </a>
                            </h4>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    {% for car_type in car_types %}
                                        <th>{{ car_type.name }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for car_attr in car_attrs %}
                                <tr>
                                    <td>{{ car_attr.name }}</td>
                                    {% for car_type in car_types %}
                                        <td>{{ car_type|car_attr_value:car_attr }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->

                <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Ride Additional Choices
                                    <a href="{% url 'customadmin:update_ride_additional_choices' %}">
                                        <button type="button" style="float: right;" class="btn btn-success waves-effect waves-light mb-2">
                                            <i class="bx bx-add-to-queue font-size-16 align-middle"></i> Update
                                        </button>
                                    </a>
                                </h4>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Ride Types</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ride_additional_choice in ride_additional_choices %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ ride_additional_choice.name }}</td>
                                            <td>{{ ride_additional_choice.value }}</td>
                                            <td>
                                            {% for ride_type in ride_additional_choice.ride_type.all %}
                                                {{ ride_type.name }},
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
            </div> <!-- end row -->


            <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    City Ride Attributes
                                    <a href="{% url 'customadmin:update_city_ride_attributes' %}">
                                        <button type="button" style="float: right;" class="btn btn-success waves-effect waves-light mb-2">
                                            <i class="bx bx-add-to-queue font-size-16 align-middle"></i> Update
                                        </button>
                                    </a>
                                </h4>

                                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        {% for pickup_city in pickup_cities %}
                                            <th>{{ pickup_city.name }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for drop_city in drop_cities %}
                                    <tr>
                                        <td>{{ drop_city.name }}</td>
                                        {% for pickup_city in pickup_cities %}
                                            <td> - </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div> <!-- end col -->
            </div> <!-- end row -->



        </div>
    </div>
</div>

{% endblock content %}




{% block extra_scripts %}
<script>
    $(document).ready(function(){
        $("#customCheck1").click(function(){
            if($(this).prop("checked") == true){
                $("#customCheck1a").prop("checked",true);
                $("#customCheck1b").prop("checked",true);
                $("#customCheck1c").prop("checked",true);
                $("#customCheck1d").prop("checked",true);
                
            }
            else if($(this).prop("checked") == false){
                $("#customCheck1a").prop("checked",false);
                $("#customCheck1b").prop("checked",false);
                $("#customCheck1c").prop("checked",false);
                $("#customCheck1d").prop("checked",false);
            }
        });
        $("#customCheck2").click(function(){
            if($(this).prop("checked") == true){
                $("#customCheck2a").prop("checked",true);
                $("#customCheck2b").prop("checked",true);
                $("#customCheck2c").prop("checked",true);
                $("#customCheck2d").prop("checked",true);
                
            }
            else if($(this).prop("checked") == false){
                $("#customCheck2a").prop("checked",false);
                $("#customCheck2b").prop("checked",false);
                $("#customCheck2c").prop("checked",false);
                $("#customCheck2d").prop("checked",false);
            }
        });
        $("#customCheck3").click(function(){
            if($(this).prop("checked") == true){
                $("#customCheck3a").prop("checked",true);
                $("#customCheck3b").prop("checked",true);
                $("#customCheck3c").prop("checked",true);
                
            }
            else if($(this).prop("checked") == false){
                $("#customCheck3a").prop("checked",false);
                $("#customCheck3b").prop("checked",false);
                $("#customCheck3c").prop("checked",false);
            }
        });
        $("#customCheck4").click(function(){
            if($(this).prop("checked") == true){
                $("#customCheck4a").prop("checked",true);
                $("#customCheck4b").prop("checked",true);
                $("#customCheck4c").prop("checked",true);
                
            }
            else if($(this).prop("checked") == false){
                $("#customCheck4a").prop("checked",false);
                $("#customCheck4b").prop("checked",false);
                $("#customCheck4c").prop("checked",false);
            }
        });
    });
</script>
{% endblock extra_scripts %}