{% extends 'admin_base.html' %}
{% load static %}


{% block extra_stylesheet %}

{% endblock extra_stylesheet %}



{% block content %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">Blog Categories Form</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Blogs</a></li>
                                <li class="breadcrumb-item active">Blog Categories Form</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Booking Id</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>456813</td>
                                    <td>20/06/2020</td>
                                    <td>12:00 A.M.</td>
                                    <td>
                                        <p>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                              Details
                                            </button>
                                          </p>
                                          
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <h4 class="card-title">Driver Details</h4>
                                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse:     collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Age</th>
                                                    <th>Previous Rides</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                
                                                <tr>
                                                    <th>1</th>
                                                    <th>Abhay</th>
                                                    <th>25</th>
                                                    <th>13</th>
                                                    <th><input type="checkbox"></th>
                                                </tr>
                                                </tbody>
                                            </table>


                                            <h4 class="card-title">Car Details</h4>
                                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse:     collapse; border-spacing: 0; width: 100%;">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Number</th>
                                                    <th>Age</th>
                                                    <th>Previous Rides</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                
                                                <tr>
                                                    <th>1</th>
                                                    <th>1321454</th>
                                                    <th>25</th>
                                                    <th>13</th>
                                                    <th><input type="checkbox"></th>
                                                </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                          </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>3 </td>
                                    <td>456813</td>
                                    <td>20/06/2020</td>
                                    <td>12:00 A.M.</td>
                                    <td>
                                        <button type="button" style="padding-right: 10px;margin-right: 10px;" class="btn btn-warning waves-effect waves-light mb-2">
                                            <i class="bx bx-add-to-queue font-size-16 align-middle"></i>Details
                                        </button>
                                    </td>
                                </tr>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->



</div>

{% endblock content %}




{% block extra_scripts %}

{% endblock extra_scripts %}
