{% extends 'admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extra_stylesheet %}

{% endblock extra_stylesheet %}



{% block content %}
 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0 font-size-18">Customer Form</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                            <li class="breadcrumb-item active">Customer Form</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title"></h4>
                                        <p class="card-title-desc"></p>

                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-md-2 col-form-label">First Name</label>
                                            <div class="col-md-10">
                                                {% render_field userform.first_name class="form-control" id="example-text-input" %}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-search-input" class="col-md-2 col-form-label">Last Name</label>
                                            <div class="col-md-10">
                                                {% render_field userform.last_name class="form-control" %}
                                                <!-- <input class="form-control" type="search" value="How do I shoot web" id="example-search-input"> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-email-input" class="col-md-2 col-form-label">Username</label>
                                            <div class="col-md-10">
                                                {% render_field userform.username class="form-control" %}
                                                <!-- <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input"> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-url-input" class="col-md-2 col-form-label">Mobile No.</label>
                                            <div class="col-md-10">
                                                {% render_field userform.mobile class="form-control" %}
                                                <!-- <input class="form-control" type="url" value="https://getbootstrap.com" id="example-url-input"> -->
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-tel-input" class="col-md-2 col-form-label">Email</label>
                                            <div class="col-md-10">
                                                {% render_field userform.email class="form-control" %}
                                                <!-- <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input"> -->
                                            </div>
                                        </div>

                                        {{ profileform }}

                                        <div class="text-center">
                                            <button type="button" class="btn btn-lg btn-success waves-effect waves-light">
                                                <i class="bx bx-check-double font-size-16 align-middle mr-2"></i> Submit
                                            </button>
                                        </div>
                                        
                                  
                                       
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        
                        <!-- end row -->

                        
                          
                           
                                                  
                </div>
                <!-- End Page-content -->

                </div>
             
            </div>
            <!-- end main content-->




  




{% endblock content %}




{% block extra_scripts %}

{% endblock extra_scripts %}