{% extends 'base.html' %}
{% load static %}
{% load fullurl %}
{% block extra_stylesheet %}

<style>
    .reset-window{
        padding: 23px 210px 0px 210px;
    }
  @media(max-width: 1200px) {
    .reset-window{
        padding: 23px ;
    }
  }

  @media(max-width: 768px) {
   
  }

</style>
{% endblock extra_stylesheet %}



{% block content %}
<div class="tj-wrapper">
<div class="container" style="margin-bottom: 50px;">
  <!-- <div class="row"> -->
    <form class="reset-window reg-frm" method="" >
    <div class="booking-summary" style="text-align: center;">
      <h3 ><i class="fas fa-exchange-alt"></i>
        Reset Password</h3>
           <div class="col-sm-10" style="margin: auto;float: initial;">
            <br>
                      <br>
                    <div class="field-holder">
                        <span class="fas fa-mobile"></span>
                        <input type="text" name="phone_num" placeholder="Enter Registered Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>
                    </div>
                    
                <button type="submit" id="button1" style="margin-top: 20px;" class="reg-btn">Submit <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
              
           </div>
    </div>
    </form>
  <!-- </div> -->
</div>
</div>

{% endblock content %}




{% block extra_scripts %}


{% endblock extra_scripts %}


