{% extends 'base.html' %}
{% load static %}

{% block extra_stylesheet %}
{% endblock extra_stylesheet %}




{% block content %}
    <!--Booking Form Section Start-->
      <section class="tj-payment" id="success-payment">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8" style="background-color: #f9f9f9">
              <div class="success-msg">
                <!-- Use bellow comented code for cross sign -->
                <!-- <span style="color: #ff1212;border: 2px solid #ff1212;" class="fas fa-times"></span> -->
                <span class="fas fa-check"></span>
                <h3>Payment Successfull!</h3>
                <p>Your payment of Rs {{ amount }} to Taxotechnosoft ID:{{ txnid }} has been  proceeded Successfully!.We’ll send you a confirmation Email and SMS shortly.</p>
                <a href="{% url 'core:dashboard' %}">
                                    {% comment %}
                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                    {% endcomment %}
                                    DashBoard
                                </a>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="booking-summary" style="background-color: #f9f9f9; ">
                <h3>Booking Summary</h3>
                <ul class="booking-info">
                  
                  <li><span><b>From: </b></span><div class="startup_loc inputlayout">sector 1234 delhi</div></li>
                  <li><span><b>To:</b> </span><div class="end_loc inputlayout">Sector 12345 gurgaon</div></li>
                  <li><span><b>Booking Reference:</b></span>
                  <div class="service_type"> PRIM00023 </div></li>
                  <li><span><b>Journey Type:</b></span>
                  <div class="service_type"> One-way </div></li>
                  <li><span><b>Distance & Time:</b> </span><div class="end_loc info-outer">&ensp; 2,522 km &         23 hrs 7 mins</div></li>
                  <li><span><b>One Way Fare:</b> </span><div class="end_loc info-outer">&ensp;$450</div></li>
                  <li><span><b>Pickup Date-Time:</b> </span><div class="pick_date info-outer">&ensp;{{ pickup_datetime}}</div></li>
                  <li><span><b>Dropoff Date-Time:</b> </span><div class="drop_date info-outer">&ensp;{{ drop_datetime }}</div></li>
                                </ul>
                <div class="fare-box">
                  <strong>Total Fare</strong>
                  <span class="trip_est">2500</span>
                  <span>( inclusive of All Taxes )</span>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-4 col-sm-4">
              <div class="booking-summary">
                <h3>Booking Summary</h3>
                <ul class="booking-info">
                  
                  
                  <li><span> </span></li>
                </ul>
                
                <ul class="service-info">
                  
                  <li><span>Pickup Date: </span>20-05-2017</li>
                  <li><span>Pickup Time: </span>02.30PM</li>
                  <li><span>Fare Details: </span>Basic Amount: $450.00</li>
                </ul>
                <div class="fare-box">
                  <strong>Total Fare: <span>$450.00</span></strong>
                  
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </section>
      <!--Booking Form Section End-->
{% endblock content %}


{% block extra_scripts %}
{% endblock extra_scripts %}
