{% extends 'base.html' %}
{% load static %}

{% block extra_stylesheet %}
{% endblock extra_stylesheet %}




{% block content %}
    <!--Booking Form Section Start-->
			<section class="tj-payment" id="success-payment">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<div class="success-msg">
								<span class="fas fa-check"></span>
								<h3>Payment Successfull!</h3>
								<p>Your payment of Rs {{ amount }} to Taxotechnosoft ID: &ensp;{{ txnid }} has been  proceeded Successfully!. We’ll send you a confirmation Email and SMS shortly.</p>
								<a href="{% url 'core:dashboard' %}">
                                    {% comment %}
                                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                    {% endcomment %}
                                    DashBoard
                                </a>
							</div>
						</div>

						<div class="col-md-4 col-sm-4">
							<div class="booking-summary">
								<h3>Booking Summary</h3>
								<ul class="booking-info">
									<li><span>Booking Reference: </span>{{ booking.id }}</li>
									<li><span>Journey Type: </span>{{ booking.ride_type }}</li>
									<li><span>Distance & Time: </span>{{ booking.distance }} km &  {{ duration }}</li>

								</ul>
                                {% comment %}
								<div class="journey-info">
									<h4>One Way Journey</h4>
									<i class="far fa-edit"></i>
								</div>
								{% endcomment %}
								<ul class="service-info">
									<li><span>From: </span>{{ booking.pickup }}</li>
									<li><span>To: </span>{{ booking.drop }}</li>
									<li><span>Pickup Date: </span>{{ booking.pickup_datetime|date }}</li>
									<li><span>Pickup Time: </span>{{ booking.pickup_datetime|time }}</li>
									<li><span>Fare Details: </span>Basic Amount: {{ booking.final_fare }}</li>
								</ul>
								<div class="fare-box">
									<strong>Total Fare: {{ booking.final_ride_fare }} <span></span></strong>
									<span>( inclusive of All Taxes )</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!--Booking Form Section End-->
{% endblock content %}


{% block extra_scripts %}
{% endblock extra_scripts %}
