{% load static %}

        
<script src="{% static 'admin/libs/select2/js/select2.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js' %}"></script>

<script src="{% static 'admin/js/pages/form-advanced.init.js' %}"></script>
          <!-- toastr init -->
          <script src="{% static 'admin/js/pages/toastr.init.js' %}"></script>
        <!-- Required datatable js -->
        <script src="{% static 'admin/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Buttons examples -->
        <script src="{% static 'admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'admin/libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'admin/libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'admin/libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'admin/js/pages/datatables.init.js' %}"></script>    

        <!-- for forms -->
        <script src="{% static 'admin/libs/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>

        <script src="{% static 'admin/js/pages/form-element.init.js' %}"></script>

        <script src="{% static 'admin/js/app.js' %}"></script>







<!-- JAVASCRIPT -->
<script src="{% static 'admin/libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/libs/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'admin/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'admin/libs/node-waves/waves.min.js' %}"></script>

<!-- apexcharts -->
<script src="{% static 'admin/libs/apexcharts/apexcharts.min.js' %}"></script>

<script src="{% static 'admin/js/pages/dashboard.init.js' %}"></script>

<!-- App js -->
<script src="{% static 'admin/js/app.js' %}"></script>
