{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>TaxoTaxi | Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="TaxoTaxi" name="description">
        <meta content="Themesbrand" name="author">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/logo2.png' %}">
        <link href="{% static 'admin/libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'admin/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'admin/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
        
          <!-- DataTables -->
          <link href="{% static 'admin/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
          <link href="{% static 'admin/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        
          <!-- Responsive datatable examples -->
          <link href="{% static 'admin/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />   
        <link rel="stylesheet" type="text/css" href="{% static 'admin/libs/toastr/build/toastr.min.css' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'admin/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'admin/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'admin/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css">

        {% block extra_stylesheet %}
        {% endblock extra_stylesheet %}
    </head>

    <body data-sidebar="dark" data-keep-enlarged="true" class="vertical-collpsed">
        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include "admin_navbar.html" %}
            {% include "admin_sidebar.html" %}

            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong></strong> {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}
            {% endblock content %}

            {% block extra_body %}
            {% endblock extra_body %}

            {% block footer %}
            {% endblock footer %}



        </div>
        <!-- END layout-wrapper -->

    {% include "admin_scripts.html" %}

    {% block extra_scripts %}
    {% endblock extra_scripts %}


    </body>

</html>