{% extends 'base.html' %}
{% load static %}

{% block content %}

			<!--Contact Section Start-->
			<section class="tj-contact-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="tj-heading-style">
								<h3>Contact Us</h3>
								<!-- <p>Lorem Ipsum passages, and more recently with desktop publishing software like aldus pageMaker including versions of all the Lorem Ipsum generators</p> -->
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="form-holder">


								<form method="POST" class="tj-contact-form">
                                    {% csrf_token %}
									<div class="row">
										<div class="col-md-6 col-sm-6">



											<!--Inner Holder Start-->
											<div class="inner-holder">
												<label for="name">Name</label>
												<input placeholder="Enter Your Name" name="name" type="text" maxlength="100" required id="id_name">
											</div>
											<!--Inner Holder End-->
										</div>
										<div class="col-md-6 col-sm-6 no-pad">
											<!--Inner Holder Start-->
											<div class="inner-holder">
												<label for="email">Email</label>
												<input placeholder="Enter Your Email" name="email" type="email" maxlength="254" required id="id_email">
											</div>
											<!--Inner Holder End-->
										</div>

										<div class="col-md-12 col-sm-12">
											<!--Inner Holder. Start-->
                                            <div class="row">
                                                <div class="col-md-3 col-sm-4">
                                                    <div class="inner-holder">
                                                        <label for="subject">Country Code</label>
                                                        <input name="country" type="text" maxlength="200" value="+91 (India)" readonly>
                                                    </div>
                                                </div>
                                                <div class="col-md-9 col-sm-8">
                                                    <div class="inner-holder">
                                                        <label for="subject">Mobile</label>
                                                        <input placeholder="Your Mobile" type="text" pattern="[1-9]{1}[0-9]{9}" name="mobile" maxlength="200" required id="id_mobile">
                                                    </div>
                                                </div>
                                            </div>
											<!--Inner Holder End-->
										</div>

										<div class="col-md-12 col-sm-12">
											<!--Inner Holder Start-->
											<div class="inner-holder">
												<label for="subject">Subject</label>
												<input placeholder="Your Subject" name="subject" type="text" maxlength="200" required id="id_subject">
											</div>
											<!--Inner Holder End-->
										</div>
										<div class="col-md-12 col-sm-12">
											<!--Inner Holder Start-->
											<div class="inner-holder">
												<label for="message">Message</label>
												<textarea name="message" placeholder="Your Message" required id="id_message"></textarea>
											</div>
											<!--Inner Holder End-->
										</div>
										<div class="col-md-12 col-sm-12">
											<div class="inner-holder contact_frm">
												<button class=" submit-btn" type="submit" id="frm_submit_btn">Send Message <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>


						<div class="col-md-4 col-sm-4">
							<div class="address-box">
								<div class="add-info">
									<span style="font-weight: bolder;" class="icon-map icomoon"></span>
									<p>Taxotaxi<br> Faridabad</p>
								</div>
								<div class="add-info">
									<span class="icon-phone icomoon"></span>
									<p>
										<a href="tel:1-234-567-7890">+91-9650818563</a>
									</p>
								</div>
								<div class="add-info">
									<span style="font-weight: bolder;" class="icon-mail-envelope-open icomoon"></span>
									<p>
										<a href="mailto:contact@taxotaxi.com">			contact@taxotaxi.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Contact Section End-->

          


            <!--Call To Action Content Start-->
			<section class="tj-cal-to-action">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="{% static 'images/cta-icon1.png' %}" alt="">
								<div class="cta-text">
									<strong>Best Price Guaranteed</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="{% static 'images/cta-icon2.png' %}" alt="">
								<div class="cta-text">
									<strong>24/7 Customer Care</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="{% static 'images/cta-icon3.png' %}" alt="">
								<div class="cta-text">
									<strong>Easy Bookings</strong>
									<p>A more recently with desktop softy  like aldus page maker.</p>
								</div>
							</div>
						</div>
					<!-- 	<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img  src="{% static 'images/icons/home-pickups.png' %}" alt="" >
								<div class="cta-text">
									<strong>Home Pickups</strong>
									<p>A more recently with desktop softy like aldus pages maker still versions have evolved.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="cta-box">
								<img src="{% static 'images/icons/instant-booking.png' %}" alt="">
								<div class="cta-text">
									<strong>Instant Booking</strong>
									<p>A more recently with desktop softy like aldus pages maker still versions have evolved.</p>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</section>
			<!--Call To Action Content End-->
{% endblock content %}