{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load template_tag %}
{% block extra_stylesheet %}
{% endblock extra_stylesheet %}
<style type="text/css">
   b{
   font-weight: bolder;
   color: #1c2b39
   }
   .tj-user-bfrm .cb-frm .book-btn:hover{
   background-color: #4CAF50 !important;
   }
   button:hover{
   background-color: #4CAF50 !important;
   }
   .field-icon {
   float: right !important;
   margin-top: -47px !important;
   position: relative !important;
   z-index: 2 !important;
   margin-right: 8px !important;
   }
</style>
{% block content %}
<!--Login Section Start-->
<section class="tj-login">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-12">
            <!--Tabs Nav Start-->
            <div class="tj-tabs">
               <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                  <li><a href="#register" data-toggle="tab">Register</a></li>
               </ul>
            </div>
            <!--Tabs Nav End-->
            <!--Tabs Content Start-->
            <div class="tab-content">
               <!--Login Tabs Content Start-->
               <div class="tab-pane active" id="login">
                  <div class="col-md-12 col-sm-12">
                     <!--Register Tabs Form Start-->
                     <form class="reg-frm" method="post" action="{% url 'core:booking-authentication' %}">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="login">
                        <div class="field-holder">
                           <span style="position: absolute;
                              top: 18px;left: 12px;color: #a6a6a6;font-size: 13px;" class="icon-phone icomoon"></span>
                           <input type="text" name="phone_num" placeholder="Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>
                        </div>
                        <div class="field-holder">
                           <span class="fas fa-lock"></span>
                           <input type="password" name="password" id="password-field" placeholder="Password" required>
                           <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"><span class="tooltiptext">Click to see password</span></span>
                           <a href="{% url 'core:forgot_password' %}"><b>Forgot Password ?</b></a>
                        </div>
                        <br>
                        <button type="submit" class="reg-btn">Login<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </form>
                     <!--Register Tabs Form End-->
                  </div>
               </div>
               <!--Login Tabs Content End-->
               <!--Register Tabs Content Start-->
               <div class="tab-pane" id="register">
                  <div class="col-md-12 col-sm-12">
                     <!--Register Tabs Form Start-->
                     <form class="reg-frm" method="POST" action="{% url 'core:booking-authentication' %}">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="register">
                        <div class="field-holder">
                           <span class="far fa-user"></span>
                           <input type="text" name="full_name" placeholder="Full Name" required>
                        </div>
                        <div class="field-holder">
                           <span style="position: absolute;top: 18px;left: 12px;color: #a6a6a6;font-size: 13px;" class="icon-phone icomoon"></span>
                           <input type="text" name="phone_num" placeholder="Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>
                        </div>
                        <div class="field-holder">
                           <span class="far fa-envelope"></span>
                           <input type="email" name="email_id" placeholder="Enter your Email Address" required>
                        </div>
                        <div class="field-holder">
                           <span class="fas fa-lock"></span>
                           <input type="password" id="pass" name="password" placeholder="Choose your password" required>
                           <span toggle="#pass" class="fa fa-fw fa-eye field-icon toggle-password"><span class="tooltiptext">Click to see password</span></span>
                           <small id="password_strength" style="font-weight:600;padding-left: 30px;">&nbsp; </small>
                        </div>
                        <label for="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        I accept <a href="{% url 'core:terms&conditions' %}"> terms & conditions </a>
                        </label>
                        <button type="submit" class="reg-btn">Signup <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </form>
                     <!--Register Tabs Form End-->
                  </div>
               </div>
               <!--Register Tabs Content End-->
            </div>
            <!--Tabs Content End-->
         </div>
         <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="booking-summary" style="background-color: #f9f9f9; ">
               <h3>Booking Summary</h3>
               <ul class="booking-info">
                  <li>
                     <span><b>From: </b></span>
                     <div class="startup_loc inputlayout">{{ pickup }}</div>
                  </li>
                  <li>
                     <span><b>To:</b> </span>
                     <div class="end_loc inputlayout">{{ drop }}</div>
                  </li>
                  <li>
                     <span><b>Journey Type:</b></span>
                     <div class="service_type">{{ ride_type }}</div>
                  </li>
                  <li>
                     <span><b>Car Type:</b></span>
                     <div class="service_type">{{ car_type }}</div>
                  </li>
                  <li>
                     <span><b>Expected Distance:</b> </span>
                     <div class="end_loc info-outer">&ensp;{{ distance_text }}</div>
                  </li>
                  <li>
                     <span><b>Expected Duration:</b> </span>
                     <div class="end_loc info-outer">&ensp;{{ duration_text }}</div>
                  </li>
                  <li>
                     <span><b>Pickup Date-Time:</b> </span>
                     <div class="pick_date info-outer">&ensp;{{ pickup_datetime|date:"j-M-Y" }} &ensp;{{ pickup_datetime|time:"h:i A" }}</div>
                  </li>
                  <li>
                     <span><b>Dropoff Date-Time:</b> </span>
                     <div class="drop_date info-outer">&ensp;{{ drop_datetime|date:"j-M-Y" }} &ensp;{{ drop_datetime|time:"h:i A" }}</div>
                  </li>
               </ul>
               <div class="fare-box">
                  <strong>Trip Estimation</strong>
                  <span class="trip_est">{{ request.session.initial_charges|adder:request.session.checkbox_charges|intcomma }}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!--Login Section End-->
{% comment %}
<!--Booking Form Section Start-->
<section class="tj-user-bfrm" style=" padding: 17px 0;">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="tj-tabs">
               <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                  <li class=""><a href="#login" data-toggle="tab">Login</a></li>
               </ul>
            </div>
            <div class="tab-content" style="background-color: #f9f9f9;">
               <div class="tab-pane active" id="register">
                  <form class="cb-frm" method="POST" action="{% url 'core:booking-authentication' %}">
                     {% csrf_token %}
                     <input type="hidden" value="register" name="type">
                     <div class="col-md-12 col-sm-12">
                        <div class="info-field">
                           <label>Full Name</label>
                           <span class="far fa-user"></span>
                           <input type="text" name="full_name" placeholder="Enter Full Name" required>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="info-field">
                           <label>Phone</label>
                           <span class="icon-phone icomoon"></span>
                           <input type="tel" name="phone_num" placeholder="Enter Phone Number" pattern="[0-9]{10}" required>
                        </div>
                     </div>
                     <div class="col-md-6 col-sm-6">
                        <div class="info-field">
                           <label>Email</label>
                           <span class="far fa-envelope"></span>
                           <input type="email" name="email_id" placeholder="Enter Email id" required>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <div class="info-field" style="height: 95px">
                           <label>Password</label>
                           <!-- <span class="fas fa-lock"></span> -->
                           <input type="password" id="pass" name="password" placeholder="Choose Your Password" style="margin-bottom: 1px" required><span style="top: 90px; left: 570px;" toggle="#pass" class="fa fa-fw fa-eye field-icon toggle-password"><span class="tooltiptext">Click to see password</span></span>
                           <label id="password_strength" style="font-weight:600;padding-left: 30px;">&nbsp; </label>
                        </div>
                     </div>
                     <div class="col-sm-12">
                        <label for="terms">
                        <input type="checkbox" name="terms" id="terms" required>
                        I accept <a href="{% url 'core:terms&conditions' %}">terms & conditions</a>
                        </label>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <button type="submit" class="book-btn">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </div>
                  </form>
               </div>
               <div class="tab-pane" id="login">
                  <form class="cb-frm" method="POST" action="{% url 'core:booking-authentication' %}">
                     {% csrf_token %}
                     <input value="login" name="type" hidden>
                     <div class="col-md-12 col-sm-12">
                        <div class="info-field">
                           <label>Phone</label>
                           <span class="icon-phone icomoon"></span>
                           <input type="tel" name="phone_num" placeholder="Enter Phone Number" pattern="[0-9]{10}" required>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <div class="info-field">
                           <label>Password</label>
                           <!-- <span class="fas fa-lock"></span> -->
                           <input type="password" id="loginpass" name="password" placeholder="Enter Password" required>
                           <span style="top: 90px; left: 570px;" toggle="#loginpass" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <a href="{% url 'core:forgot_password' %}"><b>Forgot Password ?</b></a>
                        <br>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <button type="submit" class="book-btn">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="booking-summary" style="background-color: #f9f9f9; ">
               <h3>Booking Summary</h3>
               <ul class="booking-info">
                  <li>
                     <span><b>From: </b></span>
                     <div class="startup_loc inputlayout">{{ pickup }}</div>
                  </li>
                  <li>
                     <span><b>To:</b> </span>
                     <div class="end_loc inputlayout">{{ drop }}</div>
                  </li>
                  <li>
                     <span><b>Journey Type:</b></span>
                     <div class="service_type">{{ ride_type }}</div>
                  </li>
                  <li>
                     <span><b>Car Type:</b></span>
                     <div class="service_type">{{ car_type }}</div>
                  </li>
                  <li>
                     <span><b>Expected Distance:</b> </span>
                     <div class="end_loc info-outer">&ensp;{{ distance_text }}</div>
                  </li>
                  <li>
                     <span><b>Expected Duration:</b> </span>
                     <div class="end_loc info-outer">&ensp;{{ duration_text }}</div>
                  </li>
                  <li>
                     <span><b>Pickup Date-Time:</b> </span>
                     <div class="pick_date info-outer">&ensp;{{ pickup_datetime|date:"j-M-Y" }} &ensp;{{ pickup_datetime|time:"h:i A" }}</div>
                  </li>
                  <li>
                     <span><b>Dropoff Date-Time:</b> </span>
                     <div class="drop_date info-outer">&ensp;{{ drop_datetime|date:"j-M-Y" }} &ensp;{{ drop_datetime|time:"h:i A" }}</div>
                  </li>
               </ul>
               <div class="fare-box">
                  <strong>Trip Estimation</strong>
                  <span class="trip_est">{{ request.session.initial_charges }}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>
<!--Booking Form Section End-->
{% endcomment %}
{% endblock content %}
{% block extra_scripts %}
<script type="text/javascript">
   $(function () {
       $("#pass").bind("keyup", function () {
           //TextBox left blank.
           if ($(this).val().length == 0) {
               $("#password_strength").html("");
               return;
           }
   
           //Regular Expressions.
           var regex = new Array();
           regex.push("[A-Z]"); //Uppercase Alphabet.
           regex.push("[a-z]"); //Lowercase Alphabet.
           regex.push("[0-9]"); //Digit.
           regex.push("[$@$!%*#?&]"); //Special Character.
   
           var passed = 0;
   
           //Validate for each Regular Expression.
           for (var i = 0; i < regex.length; i++) {
               if (new RegExp(regex[i]).test($(this).val())) {
                   passed++;
               }
           }
   
   
           //Validate for length of Password.
           if (passed > 2 && $(this).val().length > 8) {
               passed++;
           }
           console.log(passed)
           //Display status.
           var color = "";
           var strength = "";
           switch (passed) {
               case 0:
               case 1:
                   strength = "Weak";
                   color = "red";
                   break;
               case 2:
                   strength = "Good";
                   color = "darkorange";
                   break;
               case 3:
               case 4:
                   strength = "Strong";
                   color = "green";
                   break;
               case 5:
                   strength = "Very Strong";
                   color = "darkgreen";
                   break;
           }
           $("#password_strength").html(strength);
           $("#password_strength").css("color", color);
       });
   });
</script>
<script type="text/javascript">
   $(".toggle-password").click(function() {
   
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $($(this).attr("toggle"));
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
   });
</script>
<script language="JavaScript">
   var frmvalidator  = new Validator("contactform");
   frmvalidator.addValidation("name","req","Please provide your name");
   frmvalidator.addValidation("email","req","Please provide your email");
   frmvalidator.addValidation("email","email",
     "Please enter a valid email address");
</script>
{% endblock extra_scripts %}

