{% extends 'base.html' %}
{% load static %}

{% block extra_stylesheet %}
{% endblock extra_stylesheet %}
<style type="text/css">
	b{
		font-weight: bolder;
		color: #1c2b39
	}
	.tj-user-bfrm .cb-frm .book-btn:hover{
	background-color: #4CAF50 !important;
}
 button:hover{
 	background-color: #4CAF50 !important;
 }
</style>



{% block content %}

			<!--Booking Form Section Start-->
			<section class="tj-user-bfrm" style=" padding: 17px 0;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="tj-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#register" data-toggle="tab">Register</a></li>
									<li class=""><a href="#login" data-toggle="tab">Login</a></li>
								</ul>
							</div>
							<div class="tab-content" style="background-color: #f9f9f9;">

								<div class="tab-pane active" id="register">
									<form class="cb-frm" method="POST" action="{% url 'core:booking-authentication' %}">
                                        {% csrf_token %}
                                        <input type="hidden" value="register" name="type">
										<div class="col-md-12 col-sm-12">
											<div class="info-field">
												<label>Full Name</label>
												<span class="far fa-user"></span>
												<input type="text" name="full_name" placeholder="Enter Full Name" required>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="info-field">
												<label>Phone</label>
												<span class="icon-phone icomoon"></span>
												<input type="tel" name="phone_num" placeholder="Enter Phone Number" pattern="[0-9]{10}" required>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="info-field">
												<label>Email</label>
												<span class="far fa-envelope"></span>
												<input type="email" name="email_id" placeholder="Enter Email id" required>
											</div>
										</div>
                                        <div class="col-md-12 col-sm-12">
											<div class="info-field">
												<label>Password</label>
												<span class="far fa-user"></span>
												<input type="password" id="pass" name="password" placeholder="Enter Password" required>
											</div>
										</div>
										<div class="col-sm-12">
										<label for="terms">
												<input type="checkbox" name="terms" id="terms" required>
												I accept terms & conditions
											</label>
											</div>
										<div class="col-md-12 col-sm-12">
											<button type="submit" class="book-btn">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
										</div>
									</form>
								</div>
							
                            <div class="tab-pane" id="login">
                                <form class="cb-frm" method="POST" action="{% url 'core:booking-authentication' %}">
                                    {% csrf_token %}
                                    <input value="login" name="type" hidden>

                                    <div class="col-md-12 col-sm-12">
                                        <div class="info-field">
                                            <label>Phone</label>
                                            <span class="icon-phone icomoon"></span>
                                            <input type="tel" name="phone_num" placeholder="Enter Phone Number" pattern="[0-9]{10}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="info-field">
                                            <label>Password</label>
                                            <span class="far fa-user"></span>
                                            <input type="password" id="pass" name="password" placeholder="Enter Password" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="book-btn">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                                    </div>
                                </form>
								</div>
							</div>
						</div>
                    
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="booking-summary" style="background-color: #f9f9f9; ">
								<h3>Booking Summary</h3>
								<ul class="booking-info">
									
									<li><span><b>From: </b></span><div class="startup_loc inputlayout">{{ pickup }}</div></li>
									<li><span><b>To:</b> </span><div class="end_loc inputlayout">{{ drop }}</div></li>
									<li><span><b>Journey Type:</b></span>
									<div class="service_type">{{ ride_type }}</div></li>
									<li><span><b>Car Type:</b></span>
									<div class="service_type">{{ car_type }}</div></li>
									<li><span><b>Expected Distance:</b> </span><div class="end_loc info-outer">&ensp;{{ distance_text }}</div></li>
									<li><span><b>Expected Duration:</b> </span><div class="end_loc info-outer">&ensp;{{ duration_text }}</div></li>
									<li><span><b>Pickup Date-Time:</b> </span><div class="pick_date info-outer">&ensp;{{ pickup_datetime}}</div></li>
									<li><span><b>Dropoff Date-Time:</b> </span><div class="drop_date info-outer">&ensp;{{ drop_datetime }}</div></li>
                                </ul>
								<div class="fare-box">
									<strong>Trip Estimation</strong>
									<span class="trip_est">{{ ride_total }}</span>
								</div>
							</div>
						</div>
                      </div>
					</div>
				</div>
			</section>
			<!--Booking Form Section End-->




{% endblock content %}


{% block extra_scripts %}
{% endblock extra_scripts %}
