			<!--Footer Content Start-->
			<section class="tj-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="about-widget widget">
								<h3>About Taxotaxi</h3>
								<p>Search for will uncover many web sites variables onto of passages of lorem ipsum available but the majority the words all predefined humour to met chunks recently with desktop.</p>
								<ul class="fsocial-links">
									<li><a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
									<li><a href="http://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a></li>
									<!-- <li><a href="http://www.pinterest.com"><i class="fab fa-pinterest-p"></i></a></li> -->
									<li><a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<div class="links-widget widget">
								<h3>Explore Links</h3>
								<ul class="flinks-list">
                                   <!-- <li><i class="far fa-folder"></i><a href="">One Way</a></li>
                                   <li><i class="far fa-folder"></i><a href="">Multi-Way/Round Trip</a></li> -->
                                    <li><i class="far fa-folder"></i><a href="">About Us</a></li>
                                    <li><i class="far fa-folder"></i><a href="{% url 'blog:home' %}">Blog</a></li>
                                    <li><i class="far fa-folder"></i><a href="{% url 'core:faq' %}">F.A.Q.</a></li>
                                    <li><i class="far fa-folder"></i><a href="{% url 'core:contact' %}">Contact-Us</a></li>
                                    <li><i class="far fa-folder"></i><a href=""> Refund Policy</a></li>
                                    <li><i class="far fa-folder"></i><a href=""> Company Policy</a></li>
                                </ul>
							</div>
						</div>



						<div class="col-md-3">
							<div class="contact-info widget">
								<h3>Contact Info</h3>
								<ul class="contact-box">
									<li>
										<i class="fas fa-home" aria-hidden="true"></i> Faridabad
									</li>
									<li>
										<i class="far fa-envelope-open"></i>
										<a href="mailto:taxotaxi@booking.com">
										contact@taxotaxi.in</a>
									</li>
									<li>
										<i class="icon-phone icomoon"></i>
										<a href="tel:9650818563">+91-9650818563</a>
									</li>
									<li>
										<i class="fas fa-globe-asia"></i>
										<a href="www.taxotaxi.com">www.taxotaxi.com</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--Footer Content End-->
			<!--Footer Copyright Start-->
			<section class="tj-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<p>&copy; Copyrights 2020 <a href="https://www.taxotaxi.com">Taxotaxi</a>. All Rights Reserved.</p>
						</div>
						<div class="col-md-4 col-sm-4" >
							<p style="float: right;">&#9413; Powered By <a href="https://kmltechs.com/">Taxotecnosoft Pvt Ltd</a>. </p>
						</div>
						<div class="col-md-4 col-sm-4" >
							<p style="float: right;"> Developed By <a href="https://kmltechs.com/">KML Technologies</a>. </p>
						</div>
					</div>
				</div>
			</section>
			<!--Footer Copyright End-->