{% extends 'base.html'%}
{% load static %}

{% block content %}
<style type="text/css">
	.login-icon{
		height: 44px; 
		/*font-weight: bolder;*/ 
		vertical-align: text-bottom;
	}
</style>
		<!--Wrapper Content Start-->
		<div class="tj-wrapper">

			<!--Login Section Start-->
			<section class="tj-login">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<!--Tabs Nav Start-->
							<div class="tj-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="active"><a href="#login" data-toggle="tab">Login</a></li>
									<li><a href="#register" data-toggle="tab">Register</a></li>
								</ul>
							</div>
							<!--Tabs Nav End-->
							<!--Tabs Content Start-->
							<div class="tab-content">
								<!--Login Tabs Content Start-->
								<div class="tab-pane active" id="login">
									<div class="col-md-6 col-sm-6">
										<!--Register Tabs Form Start-->
										<form class="reg-frm" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="type" value="login">


											<div class="field-holder">
												<span style="position: absolute;
                                                             top: 18px;left: 12px;color: #a6a6a6;font-size: 13px;" class="icon-phone icomoon"></span>
												<input type="text" name="phone_num" placeholder="Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>
											</div>
											<div class="field-holder">
												<span class="fas fa-lock"></span>
												<input type="password" name="password" placeholder="Password" required>
												<a href=""><b>Forgot Password ?</a>
												
											</div>
                                             <br>
											<button type="submit" class="reg-btn">Login<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

                                        </form>
										<!--Register Tabs Form End-->
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="login-cta">
											<ul class="cta-list">
												<li>
                                                    <span class="icon"><img class="login-icon" src="{% static 'images/icons/Best-Price-Guranteed.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Best Price Guaranteed</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/instant-booking.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Instant Booking</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/customer-care.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>24/7 Customer Care</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/home-pickups.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Home Pickups</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/easy-cancelation.png' %}" alt=""></span>
													<div class="cta-info">
														<strong>Easy Cancellation</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
									
								</div>
								<!--Login Tabs Content End-->
								<!--Register Tabs Content Start-->
								<div class="tab-pane" id="register">
									<div class="col-md-6 col-sm-6">
										<!--Register Tabs Form Start-->
										<form class="reg-frm" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="type" value="register">

                                            <div class="field-holder">
												<span class="far fa-user"></span>
												<input type="text" name="full_name" placeholder="Full Name" required>
											</div>
											<div class="field-holder">
												<span style="position: absolute;
top: 18px;
left: 12px;
color: #a6a6a6;
font-size: 13px;" class="icon-phone icomoon"></span>
												<input type="text" name="phone_num" placeholder="Mobile Number" pattern="[5-9]{1}[0-9]{9}" required>
											</div>
											<div class="field-holder">
												<span class="far fa-envelope"></span>
												<input type="email" name="email_id" placeholder="Enter your Email Address" required>
											</div>
											<div class="field-holder">
												<span class="fas fa-lock"></span>
												<input type="password" id="pass" name="password" placeholder="Choose your password" required>
												<small id="password_strength" style="font-weight:600;padding-left: 30px;">&nbsp; </small>
												
											</div>

											<label for="terms">
												<input type="checkbox" name="terms" id="terms" required>
												I accept terms & conditions
											</label>
											<button type="submit" class="reg-btn">Signup <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>

                                        </form>
										<!--Register Tabs Form End-->
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="login-cta">
											<ul class="cta-list">
												<li>
                                                    <span class="icon"><img class="login-icon" src="{% static 'images/icons/Best-Price-Guranteed.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Best Price Guaranteed</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/instant-booking.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Instant Booking</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/customer-care.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>24/7 Customer Care</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/home-pickups.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Home Pickups</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
												
												<li>
													<span class="icon"><img class="login-icon" src="{% static 'images/icons/easy-cancelation.png' %}" alt="" ></span>
													<div class="cta-info">
														<strong>Easy Cancellation</strong>
														<p>A more recently with desktop softy like aldus page maker.</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
									
								</div>
								<!--Register Tabs Content End-->
							</div>
							<!--Tabs Content End-->
						</div>
					</div>
				</div>
			</section>
			<!--Login Section End-->


		</div>
		<!--Wrapper Content End-->
{% endblock content %}
{% block extra_scripts %}
<script type="text/javascript">
    $(function () {
        $("#pass").bind("keyup", function () {
            //TextBox left blank.
            if ($(this).val().length == 0) {
                $("#password_strength").html("");
                return;
            }
 
            //Regular Expressions.
            var regex = new Array();
            regex.push("[A-Z]"); //Uppercase Alphabet.
            regex.push("[a-z]"); //Lowercase Alphabet.
            regex.push("[0-9]"); //Digit.
            regex.push("[$@$!%*#?&]"); //Special Character.
 
            var passed = 0;
 
            //Validate for each Regular Expression.
            for (var i = 0; i < regex.length; i++) {
                if (new RegExp(regex[i]).test($(this).val())) {
                    passed++;
                }
            }
 
 
            //Validate for length of Password.
            if (passed > 2 && $(this).val().length > 8) {
                passed++;
            }
            console.log(passed)
            //Display status.
            var color = "";
            var strength = "";
            switch (passed) {
                case 0:
                case 1:
                    strength = "Weak";
                    color = "red";
                    break;
                case 2:
                    strength = "Good";
                    color = "darkorange";
                    break;
                case 3:
                case 4:
                    strength = "Strong";
                    color = "green";
                    break;
                case 5:
                    strength = "Very Strong";
                    color = "darkgreen";
                    break;
            }
            $("#password_strength").html(strength);
            $("#password_strength").css("color", color);
        });
    });
</script>
{% endblock extra_scripts %}