{% load static %}


<!-- Js Files Start -->
<script src="{%  static 'js/jquery-1.12.5.min.js' %}"></script>
<script src="{%  static 'js/bootstrap.min.js' %}"></script>
<script src="{%  static 'js/migrate.js' %}"></script>
<script src="{%  static 'js/owl.carousel.min.js' %}"></script>
<script src="{%  static 'js/color-switcher.js' %}"></script>
<script src="{%  static 'js/jquery.isotope.min.js' %}"></script>
<script src="{%  static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{%  static 'js/jquery.counterup.min.js' %}"></script>
<script src="{%  static 'js/waypoints.min.js' %}"></script>
<script src="{%  static 'js/custom.js' %}"></script>
<script src="{%  static 'js/map.js' %}"></script>

<script src="{%  static 'js/moment.js' %}"></script>
<script src="{%  static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{%  static 'js/jquery.validate.min.js' %}"></script>
<script src="{%  static 'js/tweetie.js' %}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkvnTgO3zgaBKBSGNLKi7H5YPSOFYfrmU"></script>
<!-- Js Files End -->
