{% extends 'admin_base.html' %}
{% load static %}


{% block extra_stylesheet %}

{% endblock extra_stylesheet %}



{% block content %}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                Completed Rides
                            </h4>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Booking ID</th>
                                    <th>Customer</th>
                                    <th>Total Amount</th>
                                    <th>Vendor</th>
                                    <th>Driver</th>
                                    <th>Car</th>
                                    <th>Ride Type</th>
                                    <th>Initial Fare</th>
                                    <th>Advance</th>
                                    <th>Final Bid</th>
                                    <th>Final Fare</th>
                                    <th>Driver Collected Amount</th>
                                    <th>Extra KM Charges</th>
                                    <th>Other Charges</th>
                                    <th>Extra GST</th>
                                    <th>Collected by Driver</th>
                                    <th>Pickup City</th>
                                    <th>Drop City</th>
                                    <th>Drop Datetime</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.name }} ({{ booking.phone_no }})</td>
                                    <td>{{ booking.final_ride_detail.get_final_ride_charges }}</td>
                                    <td><a href="{% url 'customadmin:vendor' booking.final_ride_detail.bid.vendor.id %}">{{ booking.final_ride_detail.bid.vendor.full_name }} ({{ booking.final_ride_detail.bid.vendor.contact1 }})</a></td>
                                    <td>{{ booking.final_ride_detail.driver.full_name }} ({{ booking.final_ride_detail.driver.contact1 }})</td>
                                    <td>{{ booking.final_ride_detail.car.car_type }} ({{ booking.final_ride_detail.car.registration_no }})</td>
                                    <td>{{ booking.ride_type }}</td>
                                    <td>{{ booking.final_ride_fare }}</td>
                                    <td>{{ booking.advance }}</td>
                                    <td>{{ booking.final_ride_detail.bid.bid }}</td>
                                    <td>{{ booking.final_ride_detail.get_final_ride_charges }}</td>
                                    <td>{{ booking.final_ride_detail.collected_amount }}</td>
                                    <td>{{ booking.final_ride_detail.get_extra_km_price }}</td>
                                    <td>{{ booking.final_ride_detail.other_charges }}</td>
                                    <td>{{ booking.final_ride_detail.get_total_extra_gst }}</td>
                                    <td>{{ booking.final_ride_detail.collected_amount }}</td>
                                    <td>{{ booking.pickup_city }}</td>
                                    <td>{{ booking.drop_city }}</td>
                                    <td>{{ booking.drop_datetime }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div>
    </div>
</div>

{% endblock content %}




{% block extra_scripts %}
    <!-- Required datatable js -->
    <script src="{% static 'admin/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'admin/libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admin/libs/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'admin/libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'admin/libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'admin/libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'admin/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'admin/js/pages/datatables.init.js' %}"></script>

{% endblock extra_scripts %}
